# ------------------------------
# PYTHON BASICS
# ------------------------------
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# ------------------------------
# VIRTUAL ENVIRONMENTS
# ------------------------------
.venv/
env/
venv/

# ------------------------------
# BUILD / PACKAGING / TESTING
# ------------------------------
.cache/
.pytest_cache/
.coverage
*.cover
*.egg-info/
build/
dist/
htmlcov/

# ------------------------------
# EDITOR / IDE
# ------------------------------
.idea/
.vscode/

# ------------------------------
# LOGS & TEMP FILES
# ------------------------------
*.bak
*.log
*.tmp

# ------------------------------
# REAXKIT PROJECT-SPECIFIC
.reaxkit_cache/
# ------------------------------
# Documentation and templates
docs/file_templates/control
docs/file_templates/coordinations.csv
docs/file_templates/coordination/xmolout_relabeled
docs/file_templates/eregime.in
docs/file_templates/fort.13
docs/file_templates/fort.7
docs/file_templates/fort.78
docs/file_templates/fort.79
docs/file_templates/molfra.out
docs/file_templates/summary.txt
docs/file_templates/xmolout
src/reaxkit/webui/reaxkit_workspace

# Generated outputs and temporary folders
reaxkit_workspace/
examples_to_test/
exports/
full_sim_examples/
output/
plots/
results/
tests/engine/artifacts/
../other/trash/
src/reaxkit/under_development/
../other/under_dev
site/
tests/analysis_tasks/artifacts/

# Project-local files to ignore
README.txt
../other/done/README_convert_to_txt.py
README_full_version.md
requirements.txt
requirements_all.txt
requirements_gen.py
requirements_to_add_to_pyproject_toml.txt
src/reaxkit/count_loc.py
src/reaxkit/loc_report.csv

# External local files
../other/Reax_user_manual_June_2017.docx
../other/Reax_user_manual_June_2017_converted_to_md.md

# ------------------------------
# LARGE INTERMEDIATE OUTPUTS
# ------------------------------
*.csv
*.h5
*.hdf5
cache/

# ------------------------------
# OS-SPECIFIC
# ------------------------------
.DS_Store
Thumbs.db
